# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go build command
bin/
go-ecommerce  # Replace this with your actual binary name if different

# Environment variables
.env